html,
body,
#root,
.App {
  height: 100%;
}

@font-face {
  font-family: 'Philosopher';
  src: local('Philosopher-Regular'),
    url(./fonts/Philosopher-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nautigal';
  src: local('TheNautigal-Regular'),
    url('./fonts/TheNautigal-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffee0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #fffee0;
  font-family: 'Philosopher';
  /* font-size: 40px; */
}

h2 {
  color: #1a6c05;
  font-family: 'Nautigal';
  font-size: 40px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.LandingImage {
  width: 100vw;
  height: 100vh;
}

.FishingImage {
  width: 50%;
  height: 500px;
  border-radius: 10px;
}

.MyHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #1a6c05;
  /* opacity: 0.9; */
  border-bottom-style: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 9999;
  transition: all 250ms ease-in-out;
}

.scroll-down .MyHeader {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .MyHeader {
  filter: drop-shadow(0 -10px 20px rgb(50, 50, 50));
}

.ContentSectContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  width: 100%;
}

.ContentSectText {
  width: 40%;
}
