html,
body,
#root,
.App {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffee0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #fffee0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.LandingImage {
  width: 100%;
}

.FishingImage {
  width: 50%;
  height: 500px;
  border-radius: 10px;
}

.MyHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: #1a6c05;
  opacity: 0.9;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #1f8006;
}

.ContentSectContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  width: 100%;
}

.ContentSectText {
  width: 40%;
}
